/* Adds more room for larger screen sizes */
div.app-wrapper {
    max-width: 1600px;
}

/* Checkboxes in Filter column */
fieldset.facet-group {
    padding-left: 0;
    padding-right: 0;
}

/* The inserted instructor name */
div.instructor-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 95%;
}

/* Remove padding on right side of search results */
.search-results .list-group .list-group-item {
    padding-right: 0;
}
.search-results .results-heading {
    padding-right: 0;
}

/* Color classes for Level of Difficulty and Overall Quality */
.rmp-best {
    color: #0F9246;
}
.rmp-great {
    color: #7DBB42;
}
.rmp-okay {
    color: #F68E1F;
}
.rmp-bad {
    color: #BC2026;
}

/* Columns in Courses list */
span.course-code {
    width: 10% !important;
    float: left;
}
span.course-title {
    width: 34% !important;
    float: left;
}
span.course-term {
    width: 7% !important;
    float: left;
}
span.course-credit {
    width: 5% !important;
    float: left;
}
span.course-genedureqs {
    width: 14% !important;
    float: left;
}
span.course-instructor {
    width: 18%;
    float: left;
}
span.instructor-overall-quality {
    width: 4%;
    float: left;
}
span.instructor-level-of-difficulty {
    width: 4%;
    float: left;
}
span.instructor-number-of-reviews {
    width: 4%;
}